<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card">
      <div class="card-header" id="editar">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Editar Datos
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <h2>Editar <%= resource_name.to_s.humanize %> </h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :nombre %><br />
              <%= f.text_field :name, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :apellido %><br />
              <%= f.text_field :lastname %>
            </div>

            <div class="field">
              <%= f.label :nickname %><br />
              <%= f.text_field :nickname %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email %>
            </div>

            <div>
              <%= f.label :género %><br />
              <%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Femenino" %>
            </div>
            <div>
              <%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Masculino" %>
            </div>

            <div class="field">
              <%= f.label :Nacimiento %><br />
              <%= f.date_select :date_of_birth %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Update" %>
            </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <h5>Cancel my account</h5>
  <p style="display: inline-block;">
    Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  </p>

  <%= link_to "Back", :back %>
</div>


<style>

.row {
  margin: 0;
}

</style>
