<div class="container text-center">
  <div class="row">
    <div class="col col-md-10 text-left">

      <div class="col-sm-12 text-center">
        <h3><%= @event.title %></h3>

        <%= image_tag @event.flyer %>
      </div>
      <br>
      <%= @event.content %>
      <p>
        <p><%= @event.user.email %></p>
        <p>
          <strong>Datetime:</strong>
          <%= @event.datetime %>
        </p>
      <!-- <strong>Latitude:</strong>
      <%#= @event.latitude %>
      <strong>Longitude:</strong>
      <%#= @event.longitude %> -->

      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>

    </div>

  </div>



</div>
