<br><br>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h3 class="text-center"><%= @event.title %></h3>
        <%= image_tag @event.flyer %>
        <br>
        <p><%= @event.user.nickname %></p>
        <p class="text-left"><%= @event.content %></p>
        <p>
        <p>
          <strong>Datetime:</strong>
          <%= @event.datetime %>
        </p>
        <!-- <strong>Latitude:</strong>
        <%#= @event.latitude %>
        <strong>Longitude:</strong>
        <%#= @event.longitude %> -->

        <%= form_with(model: [@event, @comment], local: true, class: 'form-horizontal' ) do |f| %>
          <div class="form-group">
            <div class="col-md-8">
              <%= hidden_field_tag :event_id, @event.id %>
              <%= f.text_area :content, placeholder: 'Comenta aquí', class: 'form-control' %>
              <%= f.submit %>
            </div>
          </div>
          <%#= link_to 'Edit', edit_post_comment_path(post),remote: true %>
          <%#= link_to 'delete', post_comment_path(post), method: :delete %>
        <% end %>

        <div class="text-center">
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                  <div class="card">
                    <div class="card-header" id="comentar">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          COMENTARIOS
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        <table class="table text-left">
                          <% @comments.each do |comment| %>
                          <tr>
                            <th><%= link_to comment.user.nickname, edit_user_registration_path %> :</th>
                            <td>
                              <%= comment.content %>
                            </td>
                          </tr>
                          <% end %>
                        </table>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

          <%= link_to 'Edit', edit_event_path(@event) %> |
          <%= link_to 'Back', events_path %>

        </div>
  </div>
</div>
</div>
